<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- css('bootstrap') %>
    <%- css('style') %>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><%= title %></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="<%= links.home.href %>"><%= links.home.text %></a></li>
            <li><a href="<%= links.html.href %>"><%= links.html.text %></a></li>
            <li><a href="<%= links.about.href %>"><%= links.about.text %></a></li>
            <li class="active"><a href="<%= links.hardware.href %>"><%= links.hardware.text %></a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <h1><%= current %></h1>
      <p>This is the <%= current %> page</p>
    </div>
  </body>
</html>
